pkgbase = freebasic
	pkgdesc = FreeBASIC compiler and runtime libraries
	pkgver = 1.20.1
	pkgrel = 1
	url = https://www.freebasic.net/
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = riscv64
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	makedepends = make
	makedepends = pkgconf
	makedepends = rsync
	makedepends = tar
	makedepends = xz
	makedepends = dos2unix
	depends = gcc
	depends = binutils
	depends = ncurses
	depends = gpm
	depends = libffi
	depends = alsa-lib
	depends = libpulse
	depends = libx11
	depends = libxext
	depends = libxpm
	depends = libxrandr
	depends = libxrender
	depends = mesa
	depends = glu
	optdepends = gdb: debug native programs built by fbc
	optdepends = gtk3: build GTK examples
	optdepends = sdl2: build SDL2 examples
	provides = fbc
	conflicts = fbc
	conflicts = fbc-git
	options = !strip
	source = https://downloads.sourceforge.net/project/fbc/FreeBASIC-1.20.1/Source/FreeBASIC-1.20.1-source-bootstrap.tar.xz
	sha256sums = SKIP

pkgname = freebasic
