*.o
*.a
*.d
*.exe
*.dll
*.so
*.tar
*.tar.xz
*.zip
/fbc
/fbc-new
/bin/*
/bootstrap/*
/lib/*/i386go32.x
/lib/*/fbextra.x
/lib/*/fb_rtlib.js
/lib/*/termlib_min.js
/lib/*/fb_shell.html
/lib/freebas/*
/lib/freebasic/*
/lib64/freebasic/*
/tools/*
/config.mk
/config-post.mk
/.build-msdos
/.build-msdos/
/.build-msdos/**
/doc/fbdoc/fbdoc
/doc/makefbhelp/makefbhelp
/doc/fbchkdoc/fbchkdoc.ini
/stage
/stage/*
/src/compiler/*.c
/src/compiler/*.h
/src/compiler/*.asm
/out/*
/packages/*
/.build-debianubuntu/*
/.build-debianubuntu
/.build*
/.build*/*
.vscode

/lib/dos/libfb.dxe
/lib/dos/libfblst.txt
